.register-form {
    width: 90%;
    max-width: 350px;
    min-width: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 300px) {
    .register-form {
        padding: 20px 5px;
    }
}